.grid-wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    width: 100vw;
    height: 100vh;
}
.name-list{
    margin: 5% 4%;
}
.router-wrapper h2 {
  margin-top: 10%;
  text-align: center;
}
.poke-Name{
    margin:1% 5%;
    font-size: larger;
    color:rgb(25, 26, 26);
    font-weight: 600;
    text-align: center;
}
.poke-img{
  width: 10em;
}
  .read-more-link{
    font-weight:500 ;
    color: rgb(35, 35, 36);
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .card-component{
    width:100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top:4%;
  }
  .players-card-flex{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .type-ul{
    margin-left: 0%;
    width: 100%;
    display: inline-flex;
    justify-content:space-evenly;
  }
  .type-btn{
    width:45%;
    height: 2.5em;
    color: rgb(47, 156, 181);
    background-color: rgb(215, 227, 223);
    border: none;
  }
  .base-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
  .base-li{
    color: rgb(47, 156, 181);
    list-style: none;
    font-size: small;
  }
  .select-btn{
    width: 60%;
    height: 2.5em;
    color: rgb(47, 156, 181);
    background-color: rgb(215, 227, 223);
    justify-self: center;
    text-decoration: none;
  }
  .game-start-btn{
    height: 25%;
  }
  .navlink-class{
    color: inherit;
    text-decoration: inherit;
  }
  .progressBarContainer{
    transform: rotate(180deg);
  }
  .result-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 50%;
  }
  .result-text{
    margin-top: 4%;;
  }
